torch==2.1.1+cu118
torchsde
torchvision
torchaudio
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil

#non essential dependencies:
kornia>=0.7.1
numba
simpleeval
insightface
dynamicprompts
onnxruntime-gpu
imageio_ffmpeg
spandrel
soundfile
